#posts {
    border-bottom: 2px solid pink;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
}

#posts_title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#posts div {
    padding: 20px;
    margin-bottom: 30px;
    background: pink;
    width: 297px;
    border-radius: 30px;
    border: 3px ridge lightcoral;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.notfound{
    text-align: center;
    color: red;
}



.titolo {
    text-align: center;
    font-size: 25px;
}

.testo {
    word-wrap: break-word;
    text-align: left;
}

.user {
    margin-top: -15px;
    color: white;
}

.username {

    font-size: 15px;
    margin-top: -10px;
}

.username2 {
    margin-top: -20px;
    font-style: italic;
    font-weight: lighter;

}

.userinfo {
    display: flex;
    flex-direction: row !important;
    justify-content: left !important;
    font-size: smaller;
}

.time {
    justify-content: flex-end !important;
    margin-top: -45px;
    color: whitesmoke;
    font-style: italic;
}

.overflow {
    overflow: hidden;
}

.like {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -25px;
    margin-bottom: -30px;
    text-decoration: none;
    width: 10%;
    left: 250px;

}

.unliked {
    color: white;
}

.liked {
    color: blue;
}

@media(max-width: 500px) {

    header {
        height: auto;
    }

    nav {
        width: 90% !important;
        margin: 10px;
        flex-wrap: wrap;
    }

    #infoView {


        left: 20px;
        right: 20px;
    }


}