#posts,
#s_posts {
    border-top: 2px solid pink;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
}

#posts_title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.api {
    border-top: 1px solid pink;
    text-align: center;
    font-weight: bold;
}

input[type=submit] {

    background-color: pink;
    color: white;
    font-weight: normal;
    font-size: 16px;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    border-color: lightcoral;


}

input[type=text] {
    padding-left: 10px;
    height: 50px;
    font-size: 17px;
    border: 1px solid pink;
    outline-color: silver;
    border-radius: 20px;
    margin: 0 0 10px 0;
}

input#track:hover,
input#search_ps:hover {
    background-color: lightcoral;
    transform: scale(1.01);
    transition: 150ms ease-in-out;
    color: white;
}


.album img {

    margin-top: 20px;
    margin-bottom: 20px;
}

.album span {

    display: block;
}

.album a {

    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: block;
    background-color: pink;
    color: white;
    border-radius: 40px;
    text-decoration: none;

}

#posts div,
#s_posts div div {
    padding: 20px;
    margin-bottom: 30px;
    background: pink;
    width: 297px;
    border-radius: 30px;
    border: 3px ridge lightcoral;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
}



.titolo {
    text-align: center;
    font-size: 25px;
}

.testo {
    word-wrap: break-word;
    text-align: left;
}

.user {
    margin-top: -15px;
    color: white;
}

.username {

    font-size: 15px;
    margin-top: -5px;
}

.username2 {
    margin-top: -20px;
    font-style: italic;
    font-weight: lighter;

}

.userinfo {
    display: flex;
    flex-direction: row !important;
    justify-content: left !important;
    font-size: smaller;
}

.time {
    justify-content: flex-end !important;
    margin-top: -45px;
    color: whitesmoke;
    font-style: italic;
}

.overflow {
    overflow: hidden;
}

#search_posts {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#a2 {
    margin-top: 20px;
}



.like {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -25px;
    margin-bottom: -30px;
    text-decoration: none;
    width: 10%;
    left: 250px;

}

.unliked {
    color: white;
}

.liked {
    color: blue;
}

.notfound{
    text-align: center;
    color: red;
}

@media(max-width: 500px) {

    header {
        height: auto;
    }

    nav {
        width: 90% !important;
        margin: 10px;
        flex-wrap: wrap;
    }

    #posts {
        width: 300px;
        margin-left: -10px;



    }

    #posts div {
        margin-left: -16px;
    }

    .api {
        margin-left: 25px;
    }

    #infoView {


        left: 20px;
        right: 20px;
    }


}